.custom-navbar {
  background-color: #333;
}

.brand {
  color: #fff;
  font-size: 1.2rem;
}

.toggle-btn {
  border-color: #fff;
}

.nav-link {
  color: #fff;
  margin-right: 10px;
}

.nav-link:hover,
.nav-link:focus {
  color: #aaa;
  text-decoration: none;
}

.nav-btn {
  margin-right: 30px;
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
  navbutton_background_color: #1f4a9b;
  justify-items: center;
}

.links-order {
  flex: 1 1 auto;
  display: flex;
}
