.container-blogs {
  background-color: #efefef;
  margin-top: 50px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin: 0 auto;
}

section {
  text-align: center;
}

.blogs-section {
  text-align: center;
}

.header-blogs {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #5e4c0b;
}

.nav-btn-custom {
  color: #0e0e0e;
}

.blogs-title {
  color: black;
  text-align: center;
}
