.container {
  margin: 0 auto;
}

.skills ul {
  list-style-type: none;
}

.experience {
  margin-top: 20px;
}

.hi-name-text {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15%;
  margin-top: 50%;
}

.hello-text {
  margin-bottom: 10%;
  margin-top: 10%;
}

.welcome-text {
  font-size: 27px;
  text-align: center;
  color: #ffffff;
  margin-top: 30%;
  margin-bottom: 10%;
  margin-right: -5%;
}

.first-last-name {
  font-size: 50px;
  text-align: center;
  color: #d3c178;
  margin-top: 30%;
  margin-bottom: 10%;
}

.intro-text {
  font-size: 30px;
  text-align: center;
  color: #efefef;
}

.background-landing-page  {
  height: 100%;
  width: 100%;
  opacity: 100%;
  background-image: url("../media/img/dark-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.know-more-button {
  margin-top: 5%;
  margin-left: 45%;
  color: #aaaaaa;
  text-align: -webkit-match-parent;
}

.know-more-rows{
  /*justify-content: center;*/
  /*display: flex;*/
  -ms-text-justify: inherit;
  margin-left: 30%;
}
